<div class="form-group" data-field="{{ name }}">
    <label for="{{ name }}">{{ label }}</label>
    <input type="text" class="form-control phone-mask" name="{{ name }}" id="{{ name }}" placeholder="+38 (___) ___-__-__">
    <div class="hint">{{ hint }}</div>
    <div class="invalid-feedback"></div>
</div>
