<div class="form-group" data-field="{{ name }}">
    <label for="{{ name }}">{{ label }}</label>
    <input type="text" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ label }}" maxlength="5000">
    <div class="hint">{{ hint }}</div>
    <div class="invalid-feedback"></div>
</div>
